@(livePrez : Seq[models.LiveStream])

@main("SlideZ"){
<h2>Nouvelle présentation</h2>

  @helper.form(action=routes.Application.speakerView){
    <label for="url">Url de votre presentation</label>
    <input type="url" id="url" name="url"/>
    <input type="submit"/> 
  }

<h2>Présentations en cours</h2>
<ul>
  @livePrez.map { prez => 
    <li><a href="@routes.Application.view(prez.url)">@prez.name</li>
  } 
</ul>

<script type="text/javascript">
  jQuery(function($){
    var source = new EventSource("liveToto")

    source.addEventListener("totoEvent", function(e){
      console.log(e.data); 
    })
  }) 
</script>
}
